.name
{
	font-size: 40px;
	padding: 0 5px 0 5px;
}
.sub
{
	font-size: 18px;
	margin-top: -30px;
}
.img_style
{
	height: 130px;
	width: 130px;
	margin-top: 30px;
	margin-bottom: -30px;
}
.links
{
	padding: 20px 20px 20px 20px;
	font-size: 30px;
	margin: 10px 5px 10px 5px;
}
.cards
{
  width: 60%;
  margin: 0 auto;
}

/*Fade in animation for results*/
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 600px) {
  .mobile_
    {
      width: 100%;
      margin: auto;
    }
  .mobile_head
    {
      font-size: 27px;
      margin-top: 28px;
    }
  .mobile_sub
    {
      margin-top: -20px;
    }
    .cards
    {
      width: 100%;
      margin: 0 auto;
    }
  }